$base_color:(
	bg:(
		bg_btn:#DDD,
		bg_input:#FFF,
		bg_disabled:#DFDFDF,
	),
	txt:(
		txx_txt:#333,
		txt_link:#1a73e8,
		txt_input:#a5a5a5,
		txt_placeholder:#d3d3d3,
		txt_button:#333333,
		txt_disabled:#A8A8A8,
	),
	border:(
		border_input:#a5a5a5,
		border_focus:#80bdff,
		border_box:#a5a5a5,
		border_disabled:#DFDFDF,
	),
	shadow:(

	),
);

$base_txt:(

	fs:(
		sm: 1.4rem,
		md: 1.6rem,
		lg: 1.8rem,		
	),
	lh:(
		xs: 1,
		sm: 1.25,
		md: 1.35,
		lg: 1.5,
		xl: 1.8,
		hg: 2
	),
	ls:(
		sm:.01em,
		md:.02em,
		lg:.03em,
	),
);

$base_shape:(
	radius:(
		sm: 2px,
		md: 4px,
		lg: 6px,
		hg: 8px,
	),
	padding:(
		padding_btn: 0.5em 0.5em,
		padding_input: 0.5em 0.5em,
	),
);

$container: (
	thin_1: 740px,
	thin_2: 740px,
	base: 980px,
	wide: 1200px,
	full: 100%,
) !default;

$contents: (
	main: 800px,
	sub: 300px,
	single: 800px,
) !default;


$points: (
	xs: 320px, // iPhone5
	sm: 375px, // iPhone6
	md: 640px,
	lg: 980px,
	xl: 1200px, // ほぼ使わない
) !default;


// DEFINE
$break_points: (
	min_xs: 'screen and (min-width: #{ map-get($points, xs) })',
	min_sm: 'screen and (min-width: #{ map-get($points, sm) })',
	min_md: 'screen and (min-width: #{ map-get($points, md) })',
	min_lg: 'screen and (min-width: #{ map-get($points, lg) })',
	min_xl: 'screen and (min-width: #{ map-get($points, xl) })',

	max_xs: 'not all and (min-width: #{ map-get($points, xs) })',
	max_sm: 'not all and (min-width: #{ map-get($points, sm) })',
	max_md: 'not all and (min-width: #{ map-get($points, md) })',
	max_lg: 'not all and (min-width: #{ map-get($points, lg) })',
	max_xl: 'not all and (min-width: #{ map-get($points, xl) })',
) !default;


$fontfamilys: (
	default: '"ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "游ゴシック体", "Yu Gothic", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif',
	number: 'Verdana, Geneva, sans-serif',
	english: 'Verdana, Geneva, sans-serif',
	noto: '"NotoSansCJKjp" sans-serif',
	icon: 'icomoon !important',
	blog: '"Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif'
) !default;


$iconfonts: (
	default: '"FontAwesome" !important',
	icomoon: '"icomoon" !important',
) !default;

@mixin fontfamily($font:default) {
	font-family: #{ map-get($fontfamilys, $font) } ;
}
  
  
@mixin fontfamily_icon($icon:default) {
	font-family: #{ map-get($iconfonts, $icon) } ;
	speak: none;
}